@font-face {
  font-family: 'Superscript';
  src: url('./superscript.ttf');
}

body {
  font-family: "Superscript";
}

#game {
  border: 1px dashed;
  margin: auto;
  display: block;
  font: 4rem 'Superscript' serif;
}